<div layout="row">
    <div flex="30">
    </div>
    <div id="signinDiv" flex="40">
        <form>
            <md-input-container>
                <label>Prénom</label>
                <input type="text" ng-model="user.firstname" required md-autofocus>
            </md-input-container>
            <md-input-container>
                <label>Nom</label>
                <input  type="text" ng-model="user.surname" required/>
            </md-input-container>
            <md-input-container>
                <label>Email</label>
                <input  type="email" ng-model="user.mail" required/>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input  type="password" ng-model="user.password" required/>
            </md-input-container>
            <md-button type="submit" class="md-raised right" ng-click="signin()"> Inscription </md-button>
        </form>
    </div>

    <div>
        Vous avez déjà un compte ? <a href="#/login">Connectez vous !</a>
    </div>

    <div flex hide-sm hide-xs>
    </div>
</div>
